/* Remove the default margin and padding from the body. */
body {
  padding: 0;
  margin: 4;
}

/* Set map, body, and html to 100% of the screen size. */
/* #map {
  width: 100%;
  height: 400px;
} */

body {
  background-color: rgb(184, 124, 124);
}
html {
  width: 100%;
  height: 100%;
}

/*format Title*/
h1 {
  text-align: center;
  color: gold;
  font-size:xx-large;
  /* font-weight: bolder; */
  
}

h2 {
  text-align: center;
  color: gold;
  font-size: 400;
  font-weight: bolder;
  line-height: 0%;
}

.well {
  color: black;
  height: max-content;
  width: max-content;
  border: 2px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-top: 0px;
  background-color: gold;
}

.dropdown{
  background-color: lime;
  width:20px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #080808;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #7e8081;
}

#slidecontainer {
  width: 100%;
}

#slider {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#map {
  width: 100%;
  height: 500px;
}