body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#map {
  width: 400px;  /* Set the desired width */
  height: 300px; /* Set the desired height */
}